# aplicacao_web_atendimento/config.py.example

SECRET_KEY = 'troque-esta-chave-secreta'

DB_CONFIG = {
    "user": "seu_usuario_aqui",
    "password": "SUA_SENHA_AQUI",
    "host": "10.48.12.20",
    "port": 3306,
    "database": "dbSults",
    "charset": "utf8mb4",
    "collation": "utf8mb4_general_ci"
}

EMBEDDED_API_KEY = "chave_api"