{% extends "campanha/base_campanha.html" %}

{% block title %}Gerenciar Campanhas{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page-campanhas.css') }}">
{% endblock %}

{% block content %}
    <h1>Gerenciar Campanhas</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="filter-container">
        <h2>Nova Campanha</h2>
        <form action="{{ url_for('campanha.gestao_campanhas') }}" method="post" class="filter-form">
            <div class="form-group"><label for="nome">Nome:</label><input type="text" name="nome" required></div>
            <div class="form-group"><label for="data_inicio">Início:</label><input type="date" name="data_inicio" required></div>
            <div class="form-group"><label for="data_fim">Fim:</label><input type="date" name="data_fim" required></div>
            <button type="submit">Criar Campanha</button>
        </form>
    </div>

    <h2>Campanhas Cadastradas</h2>
    {% if campanhas %}
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th class="th-campanha-inicio">Data de Início</th>
                <th class="th-campanha-fim">Data de Fim</th>
                <th class="th-campanha-acoes">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for c in campanhas %}
            <tr>
                <td>{{ c.nome }}</td>
                <td>{{ c.data_inicio.strftime('%d/%m/%Y') }}</td>
                <td>{{ c.data_fim.strftime('%d/%m/%Y') }}</td>
                <td>
                    <div class="action-buttons-container">
                        <a href="{{ url_for('campanha.produtos_por_campanha', campanha_id=c.id) }}" class="button-filter btn-ver-produtos">
                           Ver Produtos
                        </a>
                        
                        <button type="button" class="btn-edit button-filter btn-editar-campanha"
                                data-id="{{ c.id }}"
                                data-nome="{{ c.nome }}"
                                data-inicio="{{ c.data_inicio.strftime('%Y-%m-%d') }}"
                                data-fim="{{ c.data_fim.strftime('%Y-%m-%d') }}">
                            Editar
                        </button>
                        
                        <button type="button" class="button-danger btn-delete btn-deletar-campanha" 
                                data-id="{{ c.id }}"
                                data-nome="{{ c.nome }}">
                            Deletar
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nenhuma campanha cadastrada ainda.</p>
    {% endif %}


    <div id="edit-modal" class="modal-overlay">
        <div class="modal-content">
            <h2>Editar Campanha</h2>
            <form id="edit-form" method="post">
                <div class="form-group">
                    <label for="nome_edit">Nome da Campanha:</label>
                    <input type="text" id="nome_edit" name="nome_edit" required>
                </div>
                <div class="form-group">
                    <label for="data_inicio_edit">Data de Início:</label>
                    <input type="date" id="data_inicio_edit" name="data_inicio_edit" required>
                </div>
                <div class="form-group">
                    <label for="data_fim_edit">Data de Fim:</label>
                    <input type="date" id="data_fim_edit" name="data_fim_edit" required>
                </div>
                <div class="modal-actions">
                    <button id="modal-btn-cancel" type="button" class="modal-button-cancel">Cancelar</button>
                    <button type="submit" class="modal-button-confirm">Salvar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="delete-modal" class="modal-overlay">
        <div class="modal-content">
            <h2>Confirmar Desativação</h2>
            <p>Para confirmar a desativação, por favor digite o nome da campanha no campo abaixo:</p>
            
            <p class="delete-modal-campaign-name-label">Nome: <strong id="delete-modal-campaign-name"></strong></p>
            
            <div class="form-group" style="text-align: left; margin-top: 15px;">
                <input type="text" id="delete-modal-input" name="confirmation_text" autocomplete="off">
            </div>

            <p class="delete-modal-info-text">(Isso irá aplicar um "soft delete", a campanha ficará inativa e oculta da lista de uploads)</p>
            
            <form id="delete-form" method="post" action="">
                <div class="modal-actions" style="margin-top: 25px;">
                    <button id="delete-modal-btn-cancel" type="button" class="modal-button-cancel">Cancelar</button>
                    <button id="delete-modal-btn-confirm" type="submit" class="modal-button-danger" disabled>Confirmar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/campanhasListPage.js') }}"></script>
{% endblock %}